[submodule "rln/vendor/rln"]
	path = rln/vendor/rln
	ignore = dirty
	url = https://github.com/privacy-scaling-explorations/rln.git
[submodule "semaphore/vendor/semaphore"]
	path = semaphore/vendor/semaphore
	ignore = dirty
	url = https://github.com/appliedzkp/semaphore.git
