[tasks.build]
clear = true
dependencies = ["pack_build", "pack_rename"]

[tasks.build_parallel]
clear = true
dependencies = ["pack_build_parallel", "pack_rename"]

[tasks.pack_build]
command = "wasm-pack"
args = ["build", "--release", "--target", "web", "--scope", "waku"]

[tasks.pack_build_parallel]
command = "env"
args = [
    "RUSTFLAGS=-C target-feature=+atomics,+bulk-memory,+mutable-globals",
    "rustup",
    "run",
    "nightly-2025-09-24",
    "wasm-pack",
    "build",
    "--release",
    "--target",
    "web",
    "--scope",
    "waku",
    "--features",
    "parallel",
    "-Z",
    "build-std=panic_abort,std",
]
[tasks.pack_rename]
script = "sed -i.bak 's/rln-wasm/zerokit-rln-wasm/g' pkg/package.json && rm pkg/package.json.bak"

[tasks.test]
command = "wasm-pack"
args = [
    "test",
    "--release",
    "--node",
    "--target",
    "wasm32-unknown-unknown",
    "--",
    "--nocapture",
]
dependencies = ["build"]

[tasks.test_browser]
command = "wasm-pack"
args = [
    "test",
    "--release",
    "--chrome",
    "--headless",
    "--target",
    "wasm32-unknown-unknown",
    "--",
    "--nocapture",
]
dependencies = ["build"]

[tasks.test_parallel]
command = "env"
args = [
    "RUSTFLAGS=-C target-feature=+atomics,+bulk-memory,+mutable-globals",
    "rustup",
    "run",
    "nightly-2025-09-24",
    "wasm-pack",
    "test",
    "--release",
    "--chrome",
    "--headless",
    "--target",
    "wasm32-unknown-unknown",
    "--features",
    "parallel",
    "-Z",
    "build-std=panic_abort,std",
    "--",
    "--nocapture",
]
dependencies = ["build_parallel"]

[tasks.bench]
disabled = true
